# load up the adult dataset again

In [ ]:
# select the first 10 rows and the first 3 columns

In [ ]:
# select the 20-25th row and 3-5 column

In [ ]:
# select the first 20 rows and the following three columns
# cols: relationship, capital-gain, education

In [ ]:
# create a new column which is 
# 2 times the size of the education column

In [ ]:
# remove that column you just created

In [ ]:
# create a new row and fill it with the appropriate kind of data for each position

In [ ]:
#select every other row + column